<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <style>
        body {
  background-image: url("angular.jpg");
}
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {background-color: #84a042cc;}
        tr:nth-child(odd) {background-color: #f1f5e7e1;}
        tr:hover {background-color: rgb(150, 77, 89);}
        </style>
    
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>   
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="customer.js"></script>
</head>
<body ng-controller="myctrl">
    <div ng-controller="myctrl">
        
    Rows to display:<input type="number" step="1" min="0" max="unbound" ng-model="rowlimit"><br><br>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>CUSTOMER ID
                <br>
                <input type="text" ng-model="search.id">
            </th>
            <th>CUSTOMER NAME
                <br>
                <input type="text" ng-model="search.name">
            </th>
            <th>ADDRESS
                <br>
                <input type="text" ng-model="search.address">
            </th>
            <th>PHONE
                <br>
                <input type="text" ng-model="search.phone">
            </th>
            <th>EMAIL
                <br>
                <input type="text" ng-model="search.email">
            </th>

            
        </tr>
        <tr ng-repeat="item in names| filter:search | limitTo:rowlimit| orderBy:'name'">
            <td>{{item.id}}</td>
            <td>{{item.name|uppercase}}</td>
            <td>{{item.address|lowercase}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
            </tr>
    </table>
    </div>
    
</body>
</html>