<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="customer.js"></script>
</head>
<body ng-controller="myctrl">
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>id
                <br>
                <input type="text" ng-model="search.id">
            </th>
            <th>name
                <br>
                <input type="text" ng-model="search.name">
            </th>
            <th>address
                <br>
                <input type="text" ng-model="search.address">
            </th>
            <th>phone
                <br>
                <input type="text" ng-model="search.phone">
            </th>
            <th>email
                <br>
                <input type="text" ng-model="search.email">
            </th>
        </tr>
        <tr ng repeat="item in name">
            <td>{{item.id}}</td>
            <td>{{item.name|uppercase}}</td>
            <td>{{item.address}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
        </tr>
    </table>
</table>
</body>
</html>